In [ ]:
#this is my first prog
print('this is my first python program')

In [ ]:
print " this is my first program"

In [ ]:
#my name is sudh 
"""FAFASFSAFSAFASFASFASFSDFASF
ASDFASF
ASDFASDF
"""

In [ ]:
print("fsdfsdfs")
print("Fsdfsfs\nFSDFSAFASFASDDF")
print("sdfsfsdf")

In [ ]:
afsdf = 10

In [ ]:
afsdf

In [ ]:
type(afsdf)

In [ ]:
z=str(afsdf)

In [ ]:
type(z)

In [ ]:
b = '34554sudh 45345fgf sgsd sdfg sh sghf h dhdfh df'

In [ ]:
b

In [ ]:
type(b)

In [ ]:
print(b , a ,"Fsdfsfsd")

In [ ]:
a = 45
b = "sudh "

In [ ]:
a, b  , s = 45 , "sudh" , "this is my name "

In [ ]:
a

In [ ]:
b

In [ ]:
s

In [ ]:
type(b)

In [ ]:
type(s)

In [ ]:
type(a)

In [ ]:
print(a,b,s)

In [ ]:
b  = '"fsdf"'

In [ ]:
b

In [ ]:
1b = "fsfsd"

In [ ]:
B = "fsdf"

In [ ]:
B

In [ ]:
b = "fsfsd"

In [ ]:
2b = "sdfs"

In [ ]:
_b = 234534

In [ ]:
_b

In [ ]:
b& = "fsds"

In [ ]:
name = "sudh"
userid = "IN001"
password = "fsfsfsd"
mail = "sudhans@ienru.ai"

In [ ]:
a = 1.6423424242243434234234

In [ ]:
type(a )

In [ ]:
b = True 
c = False

In [ ]:
type(b)

In [ ]:
type(c)

In [ ]:
print(True + True + True + False + True  )
print(False - True+ True )

In [ ]:
True + True -False

In [ ]:
True / False

In [ ]:
n  = 45 + 6j
m = 56 + 8j

In [ ]:
type(m)

In [ ]:
n* m

In [ ]:
n.real

In [ ]:
n.imag

In [ ]:
b = "sdf"
type(b)

In [ ]:
"1"+ "sudh"

In [ ]:
1+ 1.0

In [ ]:
"sudh" + "sudh" + "sudh"

In [ ]:
"sudh" * 3

In [ ]:
x="66a"

In [ ]:
m=int(x)

In [ ]:
print(type(x))
print(type(m))

In [ ]:
int("2354dfsdfs")

In [ ]:
a = 10

In [ ]:
a = input("enter a interger ")

In [ ]:
type(a)

In [ ]:
a = int(input("this is my var a "))
b = int(input("this is my var b "))
c = int(input("this is my var c "))
o = a+b/c
o1 = o + 78 + 6j
str(o1) + "sudh"

In [ ]:
o = a+b/c
o1 = o + 78 + 6j

In [ ]:
o1

In [ ]:
str(o1) + "sudh"

In [ ]:
a = int(input("input a number lesser then 34 -- "))

In [1]:
for a in range (2,50,2):
    print(a)
    """while a <34 :
        pass
    print('pass')
    while a==36:
        continue
        print('fail')"""

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [2]:
a = int(input("input a number"))
if a <34:
    print("data input is lesser then 34 and i am fine with it ")
elif a < 100:
    print(" my data is lesser then 100")
    
else:
    print ( "user input is not lesser then 34")

input a number77
 my data is lesser then 100

In [3]:
salary = int(input("enter your salary"))
if( salary > 1000):
    print("you salary is good")
    if salary > 5000:
        print("i will go with a card nano")
        if True:
            print("false code")
    elif salary >10000:
        print("i will go with maruti")
    elif salary > 50000:
        print("i wil go with toyota")
    else :
        print("i will rent a car ")
elif salary > 500:
    print(" i will go for bike ")
elif salary> 100:
    print("i will not buy anyting")
else :
    print("i will go for savinig ")

enter your salary6000
you salary is good
i will go with a card nano
false code

In [ ]:
salary > 5000

In [ ]:
void test(int i , float j ){
    
}

In [ ]:
name = "sudh"
test = "dfsfsf"

In [ ]:
def test(name = str  , test = int):
    name = "fsfds"
    test= "fsdfs"
    print(name, test)

In [ ]:
test()

In [ ]:
def test1(name , id1):
    
    print(test(),name , id1)

In [ ]:
test1("Sds","ds")

In [ ]:
def test():
        return "dasas"