In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
l = []
type(l)

list

In [12]:
t1 = (234,34,"sudh" , 3.45,True,34)
print(type(t1))
print(t1)

<class 'tuple'>
(234, 34, 'sudh', 3.45, True, 34)

In [13]:
l1 = [234,34,"sudh" , 3.45,True]

In [14]:
t1[0:4]

(234, 34, 'sudh', 3.45)

In [15]:
t1[::-1]

(34, True, 3.45, 'sudh', 34, 234)

In [21]:
t1[-1]

34

In [22]:
l1[0] = "kumar"

In [23]:
l1

['kumar', 34, 'sudh', 3.45, True]

In [24]:
t1

(234, 34, 'sudh', 3.45, True, 34)

In [25]:
t1[0] = "dsdfdf"

TypeError: 'tuple' object does not support item assignment

In [26]:
t2 = (234,54,565)

In [27]:
t1+t2

(234, 34, 'sudh', 3.45, True, 34, 234, 54, 565)

In [28]:
t1*4

(234,
 34,
 'sudh',
 3.45,
 True,
 34,
 234,
 34,
 'sudh',
 3.45,
 True,
 34,
 234,
 34,
 'sudh',
 3.45,
 True,
 34,
 234,
 34,
 'sudh',
 3.45,
 True,
 34)

In [29]:
t1

(234, 34, 'sudh', 3.45, True, 34)

In [30]:
34 in t1

True

In [31]:
"fdsfds" in t1

False

In [32]:
t1

(234, 34, 'sudh', 3.45, True, 34)

In [33]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [34]:
t3 = (23,343,45,454,54)

In [35]:
max(t3)

454

In [36]:
t4 = ("fsdf","Fsdf","fsd")

In [37]:
max(t4)

'fsdf'

In [38]:
t1 =(234, 34, 'sudh', 3.45,34,34,34, True)

In [39]:
t1.index(34)

1

In [40]:
t1.count(34)

4

In [41]:
l1

['kumar', 34, 'sudh', 3.45, True]

In [42]:
l1.index(6)

ValueError: 6 is not in list

In [43]:
t1

(234, 34, 'sudh', 3.45, 34, 34, 34, True)

In [44]:
min(t1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [45]:
t3

(23, 343, 45, 454, 54)

In [46]:
min(t3)

23

In [47]:
min(t4)

'Fsdf'

In [48]:
t

()

In [49]:
t1

(234, 34, 'sudh', 3.45, 34, 34, 34, True)

In [50]:
t5 =(90,45)

In [51]:
t1+t5

(234, 34, 'sudh', 3.45, 34, 34, 34, True, 90, 45)

In [52]:
t6= 56

In [53]:
l5 = list(t1)

In [54]:
l5.insert(3,t6)

In [55]:
l5

[234, 34, 'sudh', 56, 3.45, 34, 34, 34, True]

In [56]:
tuple(l5)

(234, 34, 'sudh', 56, 3.45, 34, 34, 34, True)

In [57]:
t = ((3,4,5,6,7) , ("sdfsd",45,45) , ("454",54) , 45,454,67 , [4,5,6,7,7])

In [58]:
t[6][1:4]

[5, 6, 7]

In [59]:
t[1][0]

'sdfsd'

In [60]:
for i in t :
    print(i)

(3, 4, 5, 6, 7)
('sdfsd', 45, 45)
('454', 54)
45
454
67
[4, 5, 6, 7, 7]

In [61]:
for i in t :
    if type(i)==tuple :
        print(i[0])

3
sdfsd
454

In [62]:
t1

(234, 34, 'sudh', 3.45, 34, 34, 34, True)

In [63]:
t2

(234, 54, 565)

In [64]:
if len(t1) == len(t2):
    print("its same ")
else :
    print("not same ")

not same

In [65]:
t = (234, 34, 'sudh', 3.45, 34, 34, 34, True , "kumar")

In [ ]:
i = input("take a user input")

if i in t :
    print("yet s your name is available ")
else :
    print("your name is not available ")

In [ ]:
t

In [ ]:
l1

In [ ]:
t1  = (34)

In [ ]:
del(t)

In [ ]:
t

In [ ]:
del(l1)

In [ ]:
l1

In [ ]:
l = [324,343,343,34]

In [ ]:
t2

In [ ]:
x = set()

In [ ]:
type(x)

In [8]:
l = [34,45,45,45,45,67,34,56,78,"sudh","sudh","Sudh","kumar" ,45,454545454,545,4545,545 , [3,45,6]]

In [9]:
s=set(l)

TypeError: unhashable type: 'list'

In [11]:
l1 = [34,45,45,45,45,67,34,56,78,"sudh","sudh","Sudh","kumar" ,45,454545454,545,4545,545 ,3,45,6]

In [12]:
s1 = set(l1)

In [13]:
s1

{3, 34, 45, 4545, 454545454, 545, 56, 6, 67, 78, 'Sudh', 'kumar', 'sudh'}

s1

In [14]:
for i in s1 :
    print(i)

545
34
67
4545
3
6
Sudh
45
78
sudh
454545454
kumar
56

In [15]:
34 in s1

True

In [16]:
s1[0]

TypeError: 'set' object is not subscriptable

In [17]:
s = set()
s

set()

In [18]:
s.add(45)

In [19]:
s

{45}

In [20]:
s.add("sudh")

In [21]:
s.add("fsdfsfs")

In [22]:
s.add([2344455,454])

TypeError: unhashable type: 'list'

In [23]:
s

{45, 'fsdfsfs', 'sudh'}

In [24]:
s.add(45)

In [25]:
s

{45, 'fsdfsfs', 'sudh'}

In [26]:
s

{45, 'fsdfsfs', 'sudh'}

In [27]:
s.remove(45)

In [28]:
s

{'fsdfsfs', 'sudh'}

In [29]:
45 in s

False

In [30]:
s.clear()

In [31]:
s

set()

In [32]:
s

set()

In [33]:
s

set()

In [34]:
s.add("sdfsd")

In [35]:
s.add(234)

In [36]:
s.add(345)

In [37]:
s.add("wer")

In [38]:
s

{234, 345, 'sdfsd', 'wer'}

In [41]:
s1 = set(l)

In [42]:
l = [345,5464566,54645,6546,4654,654,6]

In [43]:
s1

{6, 345, 654, 4654, 6546, 54645, 5464566}

In [44]:
s + s1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [45]:
s * 4

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [46]:
s

{234, 345, 'sdfsd', 'wer'}

In [47]:
l4 = list(s)

In [48]:
l4.append(345)

####

In [49]:
l4

[345, 234, 'sdfsd', 'wer', 345]

In [50]:
 t4 = tuple(s)

In [51]:
set(t4)

{234, 345, 'sdfsd', 'wer'}

In [52]:
s

{234, 345, 'sdfsd', 'wer'}

In [53]:
s[0] = "fsdfs"

TypeError: 'set' object does not support item assignment

In [54]:
x = {}

In [55]:
type(x)

dict

In [56]:
x1 = {34,56}

In [57]:
type(x1)

set

In [58]:
x = {"name " :"sudh"  , "age": 3455}

In [59]:
type(x)

dict

In [60]:
x1 = {"name " :"sudh"  , "age": 3455 ,True : {45,34545,454,54}, "key" : False , 34554:(45,45,45,45) , "_sfsdf" : [34,45,454,54,545]}

In [61]:
x1

{'name ': 'sudh',
 'age': 3455,
 True: {45, 54, 454, 34545},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfsdf': [34, 45, 454, 54, 545]}

In [62]:
x2 = {"name " :{"k1":"wer",'k4' :[345,534535,534,]} , "age": 3455 ,True : {45,34545,454,54}, "key" : False , 34554:(45,45,45,45) , "_sfsdf" : [34,45,454,54,545]}

In [63]:
x2

{'name ': {'k1': 'wer', 'k4': [345, 534535, 534]},
 'age': 3455,
 True: {45, 54, 454, 34545},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfsdf': [34, 45, 454, 54, 545]}

In [64]:
x3 = {5:"wer",'k4' :[345,534535,534,]}

In [65]:
l = [34,45,4,54]
l[2]

4

In [66]:
x2["key"]

False

In [67]:
x2[34554]

(45, 45, 45, 45)

In [68]:
x2["_sfsdf"][3]

54

In [69]:
x2["name "]['k4'][2]

534

In [70]:
x3 = {5:"wer",'k4' :[345,534535,534,]}

In [71]:
x4 = {"k4" :"Fsdfs"}

In [72]:
x3+x4

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [73]:
x3 * 3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [74]:
x3

{5: 'wer', 'k4': [345, 534535, 534]}

In [75]:
x3['k4'] = 456

In [76]:
x3

{5: 'wer', 'k4': 456}

In [77]:
x3['k4'] -= 10

In [78]:
x3['k4'] = x3['k4'] -10

In [79]:
x3

{5: 'wer', 'k4': 436}

In [80]:
'k4' in x3.keys()

True

In [81]:
x3.keys()

dict_keys([5, 'k4'])

In [82]:
for i in x3.keys() :
    print(x3[i])

wer
436

In [83]:
x3

{5: 'wer', 'k4': 436}

In [84]:
x2

{'name ': {'k1': 'wer', 'k4': [345, 534535, 534]},
 'age': 3455,
 True: {45, 54, 454, 34545},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfsdf': [34, 45, 454, 54, 545]}

In [85]:
x2.keys()

dict_keys(['name ', 'age', True, 'key', 34554, '_sfsdf'])

In [86]:
for i in x2.keys():
    print(type(x2[i]))

<class 'dict'>
<class 'int'>
<class 'set'>
<class 'bool'>
<class 'tuple'>
<class 'list'>

In [87]:
x2.items()

dict_items([('name ', {'k1': 'wer', 'k4': [345, 534535, 534]}), ('age', 3455), (True, {34545, 454, 45, 54}), ('key', False), (34554, (45, 45, 45, 45)), ('_sfsdf', [34, 45, 454, 54, 545])])

In [88]:
for i in x2.items():
    print(i[1])

{'k1': 'wer', 'k4': [345, 534535, 534]}
3455
{34545, 454, 45, 54}
False
(45, 45, 45, 45)
[34, 45, 454, 54, 545]

In [89]:
x5 = {(34,56,56) : "Fsdfsfsd"}

In [90]:
x5[(34,56,56) ]

'Fsdfsfsd'

In [91]:
x2

{'name ': {'k1': 'wer', 'k4': [345, 534535, 534]},
 'age': 3455,
 True: {45, 54, 454, 34545},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfsdf': [34, 45, 454, 54, 545]}

In [92]:
len(x2)

6

In [93]:
e = {56: {45, 78, 89}}
e[56]

{45, 78, 89}

In [94]:
list(e[56])[0]

89

In [ ]:
data=input("Enter the paragraph-->> ")

# Q1
data_list= data.split(" ")

# Q2
no_duplicate=set(data_list)

# Q3
my_dict={}
for i in no_duplicate:
    my_dict[i]="akshat"
# my_dict

# Q4
tup_list=[]
for i in my_dict.keys():
    tup_list.append(my_dict[i])

print("Tuple List-->> ",tuple(tup_list))


    
# Q5
list_keys=[]
for i in my_dict.keys():
    list_keys.append(i)

print("List Keys-->> ",list_keys)

In [ ]:
paragph = input("Enter the para:")
lst1=paragph.split(" ")
s1=set(lst1)
dic1=dict.fromkeys(s1,'db')
t1=tuple(dic1.keys())
l2=list(dic1.values())

In [ ]:
s1

In [ ]:
dic1

In [ ]:
t1

In [ ]:
l2

In [ ]:
d = {"company":"ineuron" ,"course": "full stack data science" , "year" : 2021}

In [ ]:
for i in d :
    print(" print a key  : " ,i  , " ; ", "value wise :  " , d[i])

In [ ]:
"course" in d

In [ ]:
for i in d :
    if i == 'year':
        if d[i] > 2021:
            print("year is fine ")
        else :
            d[i] = 2022

In [ ]:
d

In [ ]:
my_dict = {}
for i in range(10):
    my_dict[i] = i *i

In [ ]:
my_dict

In [ ]:
{i:i*i for i in range(0,10,3)}